.light-blue{
  background-color: white;
}
.navbar-nav a{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.orange_red{
  color:orangered
}
.card-size{
  height: fit-content;
  margin: 10px;
}
.img-size{
  height:250px;
  width: 250px;
}